.container-fluid{
    width: 80%;
    background-color:#eff3eb !important ;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 5px 10px 18px #888888;
   
}

.navbar{
    background: transparent;
    
}

.myfav{
    margin-left: 20rem;
}

@media  screen and (max-width:989px) {
    .myfav{
        margin-left: 0;
    }
}