.container-fluid{
    width: 80%;
    background-color:#eff3eb !important ;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 5px 10px 18px #888888;
   
}

.navbar{
    background: transparent;
    
}

.home{
    margin-left: 4rem;
    color: #0D6EFD;
    border: 2px solid #0D6EFD;
}
.home:hover{

    background-color: #d7ddd4;
    border:2px solid #0D6EFD;
}
.myfav{
    margin-left: 12.5rem;
}

@media  screen and (max-width:989px) {
    .myfav,.home{
        margin-left: 0;
    }
}