.spinner{
    width:6rem;
    height:6rem;
    border-radius: 50%;
    border-top:0.6rem solid  rgba(12, 2, 70, 0.7);
    border-left:0.6rem solid rgba(11, 13, 133,0.8);
    /* border-width: 0.6rem;
    border-style: solid;
    border-image: linear-gradient(red,blue,purple)10% 0% 0% 50%; */
    animation: loader 0.8s infinite ;
    animation-timing-function: linear;
    margin-top: 0.8rem;
}



@keyframes loader {
   from{
   transform: rotate(0deg);
   }
   to{
    transform: rotate(359deg);
   }
  
}

